// step-box
// edit-header-box
// image-add-box
// util-box
// left-util
// right-util
// step-info
// title-body-box
// step-edit-title
// step-edit-body
// step-edit-delete


.parent-box{
    width: 100%;
    height: 100%;
    background:#FFFFFF;
    display: flex;
    justify-content: center;}

.step-box{
    width: 980px;
    margin-top:40px;
    margin-bottom:40px;
    align-self: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding:1px;
    border-radius: 5px;
    border:solid 1px #7777

}

.edit-header-box{
    background: #F6F6F6;
    display:flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-bottom:solid 2px #CCCC


}

.image-add-box{
    background: #EEEEEE;
    padding: 30px;
    border-radius: 5px;
    margin-top:15px;
    margin-bottom:15px;
    height:55px;
    -webkit-box-shadow: inset 0 0 3px 3px #dfdfdf;
    -moz-box-shadow: inset 0 0 3px 3px #dfdfdf;
    border-radius: 10px;


}

.util-box{
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.util-box button{
    background: #f6f6f6;
   color: #333;
   padding:8px;
   border: solid 1px #dedede;
   border-radius: 5px;;


}

.util-box a{
    color:#333;
    text-decoration: none;
    padding:8px;
    background: #f6f6f6;
    border: solid 1px #dedede;
    border-radius: 5px;
    margin:5px;


 
 }

 #publish-button{
     background: #E86C00;
     color : #FFFFFF

 }


.util-box > *{
  height:35px;
  display:flex;
  align-items: center;

}


.right-util{
    

}

.left-util{

}

.step-info{
    // background: green;
    margin:20px;
    // padding:15px
}

.title-body-box{
    padding:5px;
    position: relative;
}

.step-edit-icon{
    padding:5px;
    background:green;
    display:inline-block;
    position: relative;
    left:870px;
    top:30px;

}
.step-edit-title{
    width:45%;
    font-size: 16x;
    font-weight:bolder;
    text-decoration: none;
}

.step-edit-link{
    background:#F6F6F6;
    width:100%;
    height: 150px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // border:solid 1px #CCCC;
    -webkit-box-shadow: inset 0 0 1px 1px #dfdfdf;
    text-decoration: none;



}
.step-edit-body{    
    width:45%;
    text-decoration: none;


}
.step-edit-body:empty{
    display:none;
}

.step-edit-delete{
    display:inline-block;
    position:relative;
    padding:5px;
    background:purple;
    left:870px;
    bottom:30px
}

.create-step{
  
    align-self: center;
    width:110px;
    height: 45px;
    color:#333;
    text-decoration: none;
    padding:8px;
    background: #f6f6f6;
    border: solid 1px #dedede;
    border-radius: 5px;
    margin:10px;
}