/* splash-banner-content
splash-banner-title
splash-banner-text
blurb > ol
blurb-title
blurb-content*/

.splash-banner{
    display:flex;
    background: black;
    height:450px;
    position: relative;
}

.splash-banner-content{
    /* background: black; */
    position:absolute;
    top:110px;
    left: 100px;
    padding-top:25px;
    padding-bottom: 25px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height:30%;
    width: 45vw; 
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right:45px;
}

.splash-banner-title{
    font-size: 35px;
    font-weight:bold;
    color: white;
    text-transform:uppercase;
}

.splash-banner-text{
    color: white;
}

/* blurb > ol
blurb-title
blurb-content */


.blurb >ol {
    display: flex;
    justify-content: space-evenly;
}

.blurb >ol>li {
    margin-left: 60px;
    margin-right:60px;
    margin-bottom:60px;
    margin-top: 20px;
}

.blurb-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333
}
.blurb-content{
    color: #555;
    line-height: 1.5;
}

.splash-line{
    margin-top:40px;
    margin-bottom:40px;
    position: relative;
    display: inline-block;
    padding:5px;
    left: 2.5%;
    width: 95%;
    border-bottom:1px solid #ccc;
}
