/* splash-banner-content
splash-banner-title
splash-banner-text
blurb > ol
blurb-title
blurb-content*/

.splash-banner{
    display:flex;
    background-image: image-url('nicolas-hoizey-2MuZ23gkFKo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}

.splash-banner-content{
    position:absolute;
    top:140px;
    left: 100px;
    padding-top:25px;
    padding-bottom: 25px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height:30%;
    width: 45vw; 
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right:45px;
}

.splash-banner-title{
    font-size: 38px;
    font-weight:bold;
    color: white;
    text-transform:uppercase;
}

.splash-banner-text{
    color: white;
}

/* blurb > ol
blurb-title
blurb-content */


.blurb >ol {
    display: flex;
    justify-content: space-evenly;
}

.blurb >ol>li {
    margin-left: 60px;
    margin-right:60px;
    margin-bottom:60px;
    margin-top: 20px;
}

.blurb-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333
}
.blurb-content{
    color: #555;
    line-height: 1.5;
}

.splash-line{
    margin-top:40px;
    margin-bottom:40px;
    position: relative;
    display: inline-block;
    padding:5px;
    left: 2.5%;
    width: 95%;
    border-bottom:1px solid #ccc;
}

//categories
.category-lessons-container{
    width: 100%;
    min-height: 600px;
    display:flex;
    justify-content: center;

}
.category-lessons-box{
    width:100%;
    display: flex;
    margin-left:3%;
    flex-flow: row wrap;

}


.splash-banner-Cooking{
    display:flex;
    background-image: image-url('cook.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}


.splash-banner-Living{
    display:flex;
    background-image: image-url('living.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}

.splash-banner-Crafts{
    display:flex;
    background-image: image-url('craft.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}

.splash-banner-Workshop{
    display:flex;
    background-image: image-url('workshop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}

.splash-banner-Games{
    display:flex;
    background-image: image-url('game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 50vh;
    position: relative;
}

.proj{
    margin-left:100px
}

.vlah{ 

    li{
        margin-top:35px;
        display:flex;
        flex-direction: column;

        a{
            font-weight:1000;
        }

        div{
            display: flex
        }
        .lesson-box:first-child > .draft-box{
            margin-left:0px;
        }
    }
}

.link-title:hover{

    text-decoration: underline;
}

.link-title{
    width:fit-content
}

.link-title > div {
    position:relative;
    display:inline-block !important;
    top:4px;
    left:3px;
    color:grey;
    text-decoration: none !important;
}

.user-draft-photo{
    cursor: pointer;
}

.user-draft-subtitle{
    font-weight: 400;
    font-size:12px;
    color:#505050	;

}

.user-draft-name:hover{
    text-decoration: underline;
}

.user-draft-namebox > div:first-of-type{
    font-weight: 400;
    font-size:12px;
    color: gray;


}




