.page-container{
    background: blue;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-header{
    height:300px;
    // padding:1px;
    // padding:30px;
    width:100%;
    background: red;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.user-info-container{
    // padding:30px;
    width:480px;
    height:75%;
    background:yellow;
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-photo{
    // padding:60px;
    background:green;
}
.user-info{
    // padding:60px;
    background:purple;
}

.username{
    // padding:30px;
    background:red;
}

.user-edit-buttons{
    // padding:30px;
    background: blue;
}

.user-timestamp{
    // padding:30px;
    background:green;
}

.user-toolbar{
    // padding:30px;
    width:100%;
    height:25%;
    background:purple;
}

// done
.user-draft-container{
    width:980px;
    padding:30px;
    background:yellow;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    
}
.draft-box{
    background:purple;
    display: flex;
    height: 260px;
    width: 250px;
    display:flex;
    flex-direction: column;
    margin: 25px;
}
.user-draft-photo{
    background: green;
    padding: 10px;
    height:80%
}
.user-draft-name{
    padding: 20px;
    background: red;
}