.page-container{
    background: blue;
    width:100%;
    height: 100%;
}

.user-header{
    padding:100px;
    background: red;
}
.user-info-container{
    padding:30px;
    background:yellow;
}
.user-photo{
    padding:60px;
    background:green;
}
.user-info{
    padding:60px;
    background:purple;
}

.username{
    padding:30px;
    background:red;
}

.user-edit-buttons{
    padding:30px;
    background: blue;
}

.user-timestamp{
    padding:30px;
    background:green;
}

.user-toolbar{
    padding:30px;
    background:purple;
}

.user-draft-container{}
.draft-box{}
.user-draft-photo{}
.user-draft-name{}